::-webkit-scrollbar {
    display: block;
}

.css {
    display: none;
    width: 100%;
    /* position: absolute; */
    top: 0;
    animation: fadeIn 1s;
}

.css img {
    width: 100%;
    object-fit: contain;
    /* display: none; */
    border-radius: 21px;
}

.css h2 {
    width: 700px;
    height: 516px;
    /* display: none; */
    border-radius: 21px;
}

.css1 {
    display: flex;
    /* flex-direction: row-reverse; */
    width: 800px;
    height: 650px;
    position: relative;
    overflow: auto;
}

.css2 {
    display: flex;
    flex-direction: column;
}

.cssBtns {
    padding: 8px 30px;
    margin-top: 13px;
    background-color: #f3c33a;
    border: none;
    color: black;
    border-radius: 20px;
}

.active {
    display: flex;
}

#renderImage {
    display: none;
}

#loader {
    width: 800px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width : 600px) {

    ::-webkit-scrollbar {
        display: none;
    }

    .css1 {
        width: 387px;
        height: 295px;
    }

    #loader {
        width: 387px;
        height: 295px;
    }
}